* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  padding: 0 10%;
}
/* ---------------------------------MEDIA-QUERRY-------------------------------------------------- */
@media only screen and (max-width: 576px) {
  .round-pics {
    width: 100px;
    height: 100px;
  }
  .hdr-ul {
    display: none;
  }
  .empty {
    display: block;
  }
  .forms-div div {
    width: 100%;
    text-align: center;
  }
  .footer i {
    display: block;
  }
  .footer ul {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .round-pics {
    width: 200px;
    height: 200px;
  }
  .forms-div div {
    width: 100%;
    text-align: center;
  }
  .hdr-logo {
    text-align: center;
  }
  .hdr-logo .fas {
    display: none;
  }
  .hdr-ul {
    padding: 0 15% !important;
    display: flex;
  }
  .empty {
    display: block;
  }
  .footer i {
    display: block;
  }
  .footer ul {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .forms-div div {
    width: 33.333333%;
    text-align: center;
  }
  .empty {
    display: none;
  }
  .hdr-logo {
    text-align: left;
  }
  .hdr-ul {
    padding: 0 !important;
  }
  .footer i {
    display: none;
  }
  .footer ul {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .hdr-logo {
    text-align: left;
  }
  .hdr-ul {
    padding: 0 !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hdr-logo {
    text-align: left;
  }
  .hdr-ul {
    padding: 0 !important;
  }
}

/*----------------------------------STYLE-----------------------------------------------------------*/
.hdr-row1 {
  background-image: url(../image/image3.jpg);
  background-position: center;
  background-size: cover;

  padding: 1% 5%;
}

.hdr-li {
  padding: 1% 2% !important;
  font-size: x-small !important;
  border: 0 !important;
  background-color: white !important;
}

.hdr-row2 {
  background-image: url(../image/image1.jpg);
  background-position: center;
  background-size: cover;
  padding: 15% 0;
}
.big-font {
  padding: 0% 1%;
  text-align: center;
  color: white !important;
  font-size: 3rem;
  font-weight: bolder;
}
.small-font,
.hdr-buttons {
  padding: 1% 20%;
  text-align: center;
  color: white !important;
}
#learn-button {
  background-color: rgba(25, 25, 25, 0.2);
  border: 0.1rem solid white;
  color: white;
}
#download-button {
  background-color: rgb(241, 200, 13);
}
.body-row1 {
  background-color: white;
}
.about {
  padding: 3% 20%;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
.about-description {
  padding: 3% 20%;
  text-align: center;
}
.progress-bar-row {
  padding: 10% 0;
}
.typography,
.design,
.development {
  background-color: rgba(112, 113, 115, 0.5);
}
.typography1 {
  width: 60%;
  background-color: rgb(245, 33, 199) !important;
}
.typography-para {
  color: rgb(245, 33, 199);
}
.design1 {
  width: 82%;
  background-color: rgb(75, 186, 238) !important;
}
.design-para {
  color: rgb(75, 186, 238);
}
.development1 {
  width: 86%;
  background-color: rgb(150, 19, 226) !important;
}
.development-para {
  color: rgb(150, 19, 226);
}
.progress-bar-typo,
.progress-bar-design,
.progress-bar-development {
  text-align: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px;
  width: 100%;
  opacity: 100%;
  background-color: white;
}

.tooltip .tooltiptext {
  width: 30px;
  background-color: rgb(245, 33, 199);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 55%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(245, 33, 199) transparent transparent transparent;
}
.tooltip1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px;
  width: 100%;
  opacity: 100%;
  background-color: white;
}

.tooltip1 .tooltiptext1 {
  width: 30px;
  background-color: rgb(75, 186, 238);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 75%;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(75, 186, 238) transparent transparent transparent;
}

.tooltip2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px;
  width: 100%;
  opacity: 100%;
  background-color: white;
}

.tooltip2 .tooltiptext2 {
  width: 30px;
  background-color: rgb(150, 19, 226);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 78%;
}

.tooltip2 .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(150, 19, 226) transparent transparent transparent;
}
.projects-row {
  background-color: lightgray;
  padding: 2% 15%;
  text-align: center;
}
.projects-row p:first-child {
  font-size: x-large;
  font-weight: bolder;
}
.project-pics .col-12 {
  background-image: url(../image/image4.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  border: 2px solid rgb(241, 210, 4);
}

.cards-row {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
}
.services {
  border: 0;
}
.web-design > h5,
.web-design > h6 {
  color: rgb(245, 33, 199);
}
.web-development > h5,
.web-development > h6 {
  color: rgb(75, 186, 238);
}
.seo-analysis > h5,
.seo-analysis > h6 {
  color: rgb(150, 19, 226);
}
.latest-news,
.latest-news .card {
  background-color: rgb(34, 47, 54);
  padding: 3% 0;
  color: white;
}
.card-footer {
  color: rgb(241, 210, 4);
  font-size: larger;
  font-weight: bold;
}
.card-group .card {
  background-color: white;
  color: black;
  padding: 0 !important;
  border-left: 1vw solid rgb(34, 47, 54);
  border-right: 1vw solid rgb(34, 47, 54);
  border-top: 0;
  border-bottom: 0;
}
.card-group .row {
  margin: 0 !important;
}
.yellow {
  background-image: url(../image/image6.jpg);
  background-size: cover;
  background-position: center;
}
.yellow .row {
  background-color: rgba(255, 255, 0, 0.5);

  text-align: center;
  padding: 5% 0;
  color: darkblue;
}
.child p:first-child {
  font-size: 3rem;
  font-weight: bolder;
}
.team {
  border: 0 !important;
  flex-direction: row;
}
.team-fluid {
  padding: 5%;
  background-color: white;
}
.team-fluid h5 {
  font-size: x-large;
  font-weight: bolder;
}
.team-img-fluid,
.team-img-fluid .card-group {
  background-color: white;
}
.team-fluid .card {
  border: 0;
}
.team-img {
  flex-direction: row;
  border: 1vw solid white !important;
}
.team-img img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  align-self: center;
}
.team-img p {
  font-size: x-small;
}
.team-img h6,
.team-img i {
  color: rgb(241, 210, 4);
}
.contact {
  border-radius: 0;
  padding: 2% 0;
  border: 0;
}
.address {
  font-size: x-small;
}
.address span {
  font-size: xx-large;
}
.address div:first-child,
.address div:nth-child(3),
.address div:nth-child(5) {
  border-right: 1px solid rgb(34, 47, 54);
}
.address p {
  margin-bottom: 0 !important;
}
.footer {
  background-color: rgb(34, 47, 54);
  color: white;
}
.footer li {
  color: white;
  background-color: transparent;
  border: 0;
  font-size: small;
}
